doctype
html(lang="en")
    head
        meta(charset="utf-8")
        title pushState and iFrames

        link(rel="stylesheet", href="#{base}app.css")


    body
        h1 PushState and iFrames test
        nav: ul
            li: a(href='#{base}') Back Home
            li: a(href='#{base}app1/', data-app-slug="app1") Display App #1
            li: a(href='#{base}app2/', data-app-slug="app2") Display App #2

        .container


        script(src="#{base}app.js" onload="require('scripts/main')();")

